/*Theme Switcher*/

/*Checkbox*/
/*Make default checkbox invisible*/
.checkbox {
    opacity: 0;
    position: absolute;
}
/*Style the label*/
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*gave color to the moon icon*/
.fa-moon {
    color: #f1c40f;
}
/*gave color to the sun icon*/
.fa-sun {
    color: #f39c12;
}
/*toggle bar-ball*/
.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
/*define the toggle action*/
.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}
/*Dark Mode*/
.dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe
  }
  /*Light Mode*/
  .light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  }